<mat-card>
    <mat-card-title>Cadastrar Conta</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Hash" 
            [(ngModel)]="conta.hash" name="hash">
        </mat-form-field>
         <mat-form-field> <!--OBS.: FAZER DROP-DOWN PARA SELECIONAR O cliente -->
            <input matInput placeholder="Cliente" 
             [(ngModel)]="conta.cliente.nome" name="cliente.nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Saldo" 
            [(ngModel)]="conta.saldo" name="saldo">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="criarConta()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button routerLink="/">
        Cancelar
    </button>
</mat-card>
