<mat-card>
    <mat-card-title class="box">Cadastrar Conta</mat-card-title>
    <form (ngSubmit)="onSubmit()" #contaForm="ngForm">
        <mat-form-field>
            <input id="hcode" name="hcode" 
                type="text" required
                matInput placeholder="Hash" disabled="true"
                [(ngModel)]="hash" #hcode="ngModel" >
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Selecione um cliente</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="nome" #nome="ngModel">
                <mat-option *ngFor="let client of mock_clientes" [value]="client.nome">
                    {{client.nome}}
                </mat-option>
            </mat-select>
            <div [hidden]="nome.valid || nome.pristine"
                class="alert alert-danger">
                Favor selecionar um cliente!
            </div>
        </mat-form-field>
        
        <mat-form-field>
            <input id="saldo" placeholder="Saldo" 
                matInput type="number" required
                [(ngModel)]="conta.saldo" name="saldo" #saldo="ngModel">
            <div [hidden]="saldo.valid || saldo.pristine" class="alert alert-danger div-item-obrigatorio">
                Código da conta é obrigatório!
            </div>
        </mat-form-field>
    </form>
    
    <button type="submit" 
        routerLink="/conta-view" mat-raised-button 
        [disabled]="!contaForm.form.valid" (click)="criarConta()" 
        color="primary">
        Salvar
    </button>
    
    <button mat-raised-button routerLink="/">
        Cancelar
    </button>
</mat-card>
