<mat-card>
    <mat-card-title>Cadastrar Conta</mat-card-title>
    <form >
        <mat-form-field>
            <input matInput placeholder="Hash" 
            [(ngModel)]="conta.hash" name="hash">
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Selecione um cliente</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="food">
                <mat-option *ngFor="let client of mock_clientes" [value]="client.nome">
                    {{client.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Saldo" 
            [(ngModel)]="conta.saldo" name="saldo">
        </mat-form-field>
    </form>
    
    <button mat-raised-button (click)="criarConta()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button routerLink="/">
        Cancelar
    </button>
</mat-card>
